@import '_normalize.scss';

$rbeige: #fff5d7;
$coralpink: #ff5e6c;
$syellow: #feb300;
$lpink: #ffaaab;

@-webkit-keyframes target-fade {
    0% { background-color: $coralpink; }
    100% { background-color: transparent; }
}

@keyframes target-fade {
    0% { background-color: $coralpink; }
    100% { background-color: transparent; }
}

* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

body {
    background-image: url("../img/main_bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card_container {
    background-color: $rbeige;
    opacity: 0.9;
    max-width: 960px;
    margin: 0 auto;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    img {
        border-radius: 50%;
        box-shadow: 2px 2px 7px 3px #feb300;
    }
    h1 {
        margin-bottom: 15px;
        font-size: 2.5rem;
        span {
            display: block;
            font-size: 1.3rem;
            margin-top: 0;
            color: $coralpink;
            text-shadow: 0.5px 0.5px 1px black;
            text-align: center;
            width: 100%;
        }
    }
}

nav {
    border-bottom: 3px solid $syellow;
    border-top: 3px solid $syellow;
    height: 150px;
    width: 100%;
    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        li {
            height: 33.3%;
            list-style: none;
            a {
                text-decoration: none;
                color: black;
                text-shadow: 0.5px 0.5px 1px $coralpink;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            a:hover {
                outline: 2px solid $syellow;
                background-color: $coralpink;
            }
        }
    }
}

main {
    padding: 0 40px;
    width: 100%;
    h4 {
        color: $coralpink;
        text-align: center;
        text-shadow: 0.5px 0.5px 1px black;
    }
    ul, ol {
        margin: 0;
        padding: 0;
    }
    ol {
        list-style: square;
    }
}

.about:target, .experience:target, .education:target, .hobbies:target, .contact:target {
    -webkit-animation: target-fade 1s 1;
    animation: target-fade 1s 1;
}

.hobbies ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70px;
    padding-left: 20%;
    li {
        height: 33.3%;
        a {
            text-decoration: none;
            color: black;
            text-shadow: 1px 1px 2px $coralpink;
        }
    }
}

.contact {
    text-align: center;
    a {
        display: block;
        color: black;
        text-shadow: 0.5px 0.5px 1px $coralpink;
        text-decoration: none;
        i {
            padding-right: 10px;
            color: $coralpink;
            text-shadow: 0.5px 0.5px 1px black;
        }
    }
}

.photo_grid {
    margin-top: 20px;
    p {
        text-align: center;
    }
    img {
        width: 100%;
    }
}

footer {
    height: 50px;
    width: 100%;
    border-top: 3px solid $syellow;
    margin-top: 10px;
    padding-left: 20px;
    p {
        font-family: 'Teko', sans-serif;
    }
}

@import '_tablet.scss';
@import '_desktop.scss';