@import '_normalize.scss';

$rbeige: #fff5d7;
$coralpink: #ff5e6c;
$syellow: #feb300;
$lpink: #ffaaab;

* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url('/img/main_bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.card_container {
    background-color: $rbeige;
    opacity: 0.9;
    max-width: 960px;
    margin: 0 auto;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

header img {
    border-radius: 50%;
    box-shadow: 2px 2px 7px 3px #feb300;
}

header h1 {
    margin-bottom: 0;
    font-size: 2.5rem;
}

header h3 {
    margin-top: 0;
    color: $coralpink;
}

nav {
    border-bottom: 3px solid $syellow;
    border-top: 3px solid $syellow;
    height: 150px;
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

nav ul li {
    height: 33.3%;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    text-shadow: 0.5px 0.5px 1px $coralpink;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a:hover {
    outline: 2px solid $syellow;
    background-color: $coralpink;
}

main {
    padding: 0 40px;
}

main h4 {
    color: $coralpink;
    text-align: center;
}

main ol, main ul {
    margin: 0;
    padding: 0;
}

main ol {
    list-style: square;
}

.hobbies ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70px;
}

.hobbies ul li {
    height: 33.3%;
}

.contact {
    text-align: center;
}

.contact a {
    display: block;
    color: black;
    text-shadow: 0.5px 0.5px 1px $coralpink;
    text-decoration: none;
}

.contact a i {
    padding-right: 10px;
}